.container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    width: 800px;
    height: 50px;
    border: 1px solid red;
}

.detail {
    display: flex;
    width: 800px;
    height: 50px;
    border: 1px solid red;
}

.try-and-expect {
    display: flex;
    width: 800px;
    height: 50px;
    border: 1px solid red;
}

.tags {
    display: flex;
    width: 800px;
    height: 50px;
    border: 1px solid red;
}

.review {
    display: flex;
}

.button-submit {
    display: flex;
}
