small {
    float  : bottom;
    padding: 0.5em 0.5em;
    color  : #888;
}

.chat-child-child {
    padding: 0.2em 0.1em;
}


.chat-user-info {
    height       : 4em;
    display      : flex;
    border-bottom: 1px solid #ccc;
    width        : 100%;
}

.user-intro-details-img {}

.goBack {
    height         : 100%;
    width          : 10%;
    align-items    : center;
    justify-content: center;
    display        : flex;
    gap            : 0.3em;
}

.goBack span:hover {
    opacity: 0.8;
}

.goBack a {
    text-decoration: none;
    color          : #111;
}

.outer-online-container {
    display    : flex;
    gap        : 0.3em;
    align-items: center;
}

.online {
    width           : 10px;
    height          : 10px;
    border-radius   : 50%;
    background-color: green;
}

.online-container {
    display        : flex;
    align-items    : center;
    justify-content: end;
}

.user-intro-details {
    width      : 90%;
    height     : 100%;
    display    : flex;
    align-items: center;
    gap        : 1em;

}


.user-intro-details-text h4,
.user-intro-details-text p {
    font-family   : Arial, Helvetica, sans-serif;
    /* display    : flex; */
    align-items   : center;
    margin        : 0 !important;
}

.user-intro-details-text p {
    color    : #888;
    font-size: 14px;
}

#chat-content {
    padding       : 1em 0.8em;
    margin        : 1em 1.2em;
    display       : flex;
    align-items   : end;
    max-height    : 200px;
    flex-direction: column;
    overflow-y    : auto;
}

.chat-content-you-container {
    display        : flex;
    justify-content: end;
    align-items    : end;
    width          : 100%;
    border-radius  : 1em;
    margin-top     : 1em;
}

.chat-content-you {
    width        : 60%;
    border-radius: 0.5em;
    background   : #dedede;
}

.chat-content-other-container {
    display        : flex;
    justify-content: space-between;
    align-items    : start;
    width          : 100%;
    border-radius  : 1em;
    margin-top     : 1em;
}

.chat-content-other {
    align-items     : start;
    width           : 60%;
    background-color: #e4e2fc;
    color           : #111;
    border-radius   : 0.5em;
}

.chat-child p {
    padding    : 0 0.5em;
    font-family: sans-serif;
}

.chat-typing {
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 0.5em;
    /* margin      : 0.4em 0; */
    padding        : 1em 0;
    border-top     : 1px solid #ccc;
}

.typing-input {
    width  : 80%;
    display: flex;
}

.typing-input textarea {
    padding      : 0.5em 0.8em;
    width        : 100%;
    border-radius: 5px;
    resize       : none;
}

.typing-send {
    width: 20%;
}

.typing-send-btn {
    padding         : 1em 0;
    width           : 100%;
    border-radius   : 5px;
    background-color: #381DDB;
    color           : #fff;
    cursor          : pointer;
}

.typing-send-btn:hover {
    opacity: 0.8;
}

.no-message {
    width          : 100%;
    min-height     : 8em;
    /* margin      : 0 2em; */
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 1.5em;
    background     : lightblue;
    border         : 1px solid brown;
    border-radius  : 0.8em;
}

.no-message-text {
    font-family: sans-serif;
}

.chat-detail {
    width : 100%;
    height: 100%;
}

.chat-container-chat {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    height        : 100%;
    z-index       : 10;
    padding       : 0 1em;
    gap           : 15px;
    margin-top    : 0.5em;
    border        : 1px solid #ddd;
    border-radius : 0.5em;
    box-shadow    : 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px -8px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
}

.outer-chat-container {
    margin         : 0 auto;
    /* display     : flex; */
    /* align-items : center; */
    max-height     : 200px;
    /* position    : fixed; */
    justify-content: center;
    top            : 17%;
    left           : 35%;
    /* height      : 283px; */
    /* overflow    : auto; */
    width          : 400px;
}