.chat-container-homeChat {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    height        : 100%;
    z-index       : 10;
    gap           : 15px;
    /* margin     : 2em 6em; */
    border        : 1px solid #ddd;
    border-radius : 0.5em;
    box-shadow    : 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px -8px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
}

ul {
    padding: 0 !important;
}



.chatArea-body {
    background-color: #fff;
}

.up-container {
    width          : 90%;
    display        : flex;
    align-items    : center;
    margin-top     : 25px;
    justify-content: center;
}

.down-container {
    width : 90%;
    height: 100%;
}

.inputSearchUser {
    width    : 100%;
    display  : flex;
    flex-grow: 1;
    gap      : 0.1em;
}

.searchBtn {
    width           : 20%;
    padding         : 0.8em;
    border-radius   : 5px;
    background-color: #381DDB;
    color           : #fff;
    cursor          : pointer;
}

.searchBtn:hover {
    opacity: 0.8;
}

input#searchText {
    width        : 80%;
    padding      : 0.4em 0.5em;
    border-radius: 0.4em;
    border       : 1px solid #888;
}


.search-each-user-container {
    display       : flex;
    flex-direction: column;
    gap           : 0.1em;
    height        : 100%;
}

.search-each-user-container a {
    /* color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); */
    text-decoration: underline;
    color          : #000 !important;
    font-family    : arial;
}

.each-user-search {
    border         : 1px solid #ddd;
    display        : flex;
    justify-content: space-between;
    border-radius  : 3px;
    box-shadow     : 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px -8px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
}

.each-user-search-child {
    display        : flex;
    align-items    : center;
    justify-content: start;
    gap            : 1em;
}

.img-user-search {
    border-radius: 50%;
    margin-left  : 0.5em;
    border       : 1px solid #777;
}

.down {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    gap           : 15px;
    height        : 100%;
    /* margin     : 2% 0; */
    /* padding    : 15px 0; */
}

.content {
    width        : 90%;
    height       : 100%;
    margin-bottom: 1em;
    overflow-y   : auto;
    overflow-x   : hidden;
    background   : #eaf5f9;
}

.online {
    width           : 10px;
    height          : 10px;
    border-radius   : 50%;
    background-color: green;
}

.online-container {
    display        : flex;
    align-items    : center;
    justify-content: end;
}

.no-message {
    width          : 100%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 1.5em;
}

.user-status {
    display       : flex;
    flex-direction: column;
}

.chatArea-body {
    height: 100%;
}

.exit {
    position: absolute;
    top     : 0;
    right   : 0;
    padding : 0.4em;
    cursor  : pointer
}

.exit i {
    font-size: 15px;
    color    : #666;
}

.typing {
    width          : 100%;
    height         : 25%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 0.5em;
}

.typing-input {
    width      : 80%;
    margin-left: 0.5em;
}

.typing-input input {
    padding      : 1em 0.5em;
    width        : 100%;
    border-radius: 5px;

}

.typing-send {
    width       : 20%;
    margin-right: 0.2em;
}

.typing-send-btn {
    padding         : 1em 0;
    width           : 100%;
    border-radius   : 5px;
    background-color: #381DDB;
    color           : #fff;
    cursor          : pointer;
}

.message-no-result {
    color: #999;
}