.chat-container {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    height        : 100%;
    position      : relative;
    z-index       : 10;
    gap           : 15px;
}

.chatArea-body {
    background-color: #fff;
}

.up-container {
    width          : 90%;
    /* height      : 20%; */
    display        : flex;
    align-items    : center;
    margin-top     : 25px;
    justify-content: center;
}

.down-container {
    width : 90%;
    height: 100%;
}

.inputSearchUser {
    width    : 100%;
    display  : flex;
    flex-grow: 1;
    gap      : 0.1em;
}

.searchBtn {
    width           : 20%;
    padding         : 0.8em;
    border-radius   : 5px;
    background-color: #381DDB;
    color           : #fff;
    cursor          : pointer;

}

.searchText {
    width        : 80%;
    padding      : 0.8em;
    border-radius: 5px;
}


.search-each-user-container {
    display       : flex;
    flex-direction: column;
    gap           : 0.1em;
    height        : 100%;
}

.each-user-search {
    border         : 1px solid red;
    display        : flex;
    justify-content: space-between;
    border-radius  : 3px;
}

.each-user-search-child {
    display        : flex;
    align-items    : center;
    justify-content: start;
    gap            : 1em;
}

.img-user-search {
    border-radius: 50%;
    margin-left  : 0.5em;
    border       : 1px solid red;
}

.down {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    gap           : 15px;
    height        : 100%;
    /* margin     : 2% 0; */
    /* padding    : 15px 0; */
}

.content {
    width        : 90%;
    height       : 100%;
    margin-bottom: 1em;
    overflow-y   : auto;
    overflow-x   : hidden;
    background   : #eaf5f9;
}

.online {
    width           : 10px;
    height          : 10px;
    border-radius   : 50%;
    background-color: green;
}

.online-container {
    display        : flex;
    align-items    : center;
    justify-content: end;
}

.no-message {
    width          : 100%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 1.5em;
}

.user-status {
    display       : flex;
    flex-direction: column;
}

.chatArea-body {
    height: 100%;
}

.exit {
    position: absolute;
    top     : 0;
    right   : 0;
    padding : 0.4em;
    cursor  : pointer
}

.exit i {
    font-size: 15px;
    color    : #666;
}

.typing {
    width          : 100%;
    height         : 25%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 0.5em;
}

.typing-input {
    width: 80%;
}

.typing-input input {
    padding      : 1em 0.5em;
    width        : 100%;
    border-radius: 5px;

}

.typing-send {
    width: 20%;
}

.typing-send-btn {
    padding         : 1em 0;
    width           : 100%;
    border-radius   : 5px;
    background-color: #381DDB;
    color           : #fff;
    cursor          : pointer;
}