*,
body,
html {
    margin : 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.signup-container {
    height          : 100%;
    background-color: #FFF7F7;
}

.login-container {
    height          : 100%;
    background-color: #FFF7F7;
}

.signup-title {
    font-size  : 25px;
    font-weight: 600;
    margin     : 10px 0;
    color      : #381DDB;
    font-family: Arial, Helvetica, sans-serif;
}

.signup-title-red {
    color: #FC5252;

}

.box {
    padding         : 15px 25px;
    position        : relative;
    top             : 5em;
    border-radius   : 0.8em;
    margin          : 0 auto;
    background-color: #fff;
    display         : flex;
    width           : 29%;
    align-items     : start;
    justify-content : center;
    box-shadow      : 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px -8px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
}

.box-login {
    top: 7em !important;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    padding      : 10px 14px;
    border-radius: 4px;
    border       : 1px solid #333;
    outline      : none;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
    border    : 1px solid #42b72a;
    box-shadow: 0px 0px 10px -2px rgba(5, 128, 87, 1);
}

.or {
    padding-bottom: 14px;
    font-family   : sans-serif;
}

.signUp {
    padding         : 10px 14px;
    border-radius   : 4px;
    border          : none;
    background-color: #FC5252;
    color           : #fff;
    cursor          : pointer;
}

.signUp a {
    color          : #fff;
    text-decoration: none;
}

.logIn {
    background-color: #42b72a;
    padding         : 10px 14px;
    border-radius   : 4px;
    border          : none;
    color           : #fff;
    cursor          : pointer;
}

.logIn:hover,
.signUp:hover {
    opacity: 0.8
}

.logIn a {
    color          : #fff;
    text-decoration: none;
}

.error-text {
    color      : #fd0000;
    padding    : 1em;
    font-family: sans-serif;
}

.error-area {
    background-color: #353434;
    margin-bottom   : 1em;
    display         : flex;
    justify-content : center;
    align-items     : center;
    max-width       : 12em;
}