* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    background-color: #e8e8e8;
}

body {

    width     : 100vw;
    min-height: 100vh !important;
    margin    : 0px;
    padding   : 0px;
    background: linear-gradient(rgb(183 183 183), rgb(168 191 207), rgb(189 183 244), rgb(206 184 240));
}

.login-outer-container {
    /* background-color: #111; */
    /* width: 100vw;
height: 100vh; */
}

.login-container {
    max-width: 720px;
    margin   : auto auto;
}

.login-container-content {
    display       : flex;
    position      : relative;
    top           : 4em;
    flex-direction: row;
    width         : 100%;
    border-radius : 1em;
    font-family   : Arial, Helvetica, sans-serif;
    box-shadow    : 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px -8px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
}

.login-content-left {
    width           : 50%;
    padding         : 2em 3em;
    background-color: #fff;
    border-radius   : 1em 0 0 1em;
}

.log-content-left-title h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size  : 28px;
    font-weight: 500;
}

.login-content-right {
    width          : 50%;
    padding        : 2em 3em;
    background     : linear-gradient(-45deg, rgb(152 169 178), rgb(101 150 202), rgb(142 138 232), transparent);
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    gap            : 1em;
    border-radius  : 0 1em 1em 0;
}

.login-content-left-signUp {
    width          : 50%;
    padding        : 2em 3em;
    background     : linear-gradient(-45deg, rgb(152 169 178), rgb(101 150 202), rgb(142 138 232), transparent);
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    gap            : 1em;
    border-radius  : 1em 0 0 1em;

}

.login-content-right-signUp {
    width           : 50%;
    padding         : 2em 3em;
    background-color: #fff;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;
    gap             : 1em;
    border-radius   : 0 1em 1em 0;
}

.form-login {
    margin        : 2em 0;
    display       : flex;
    flex-direction: column;
    gap           : 1em;
}

.form-login-signUp {
    margin        : 0.5em 0;
    display       : flex;
    flex-direction: column;
    gap           : 1em;
}

.form-login-content {
    display       : flex;
    flex-direction: column;
    gap           : 0.5em;
}

.login-label {
    font-weight: 600;
}

.login-label-signUp {
    font-size  : 0.8em;
    font-weight: 600;
}

.login-input {
    border          : none;
    outline         : none;
    padding         : 1em 1.3em;
    border-radius   : 1em;
    background-color: #e7e7e7;
    color           : #000;
}

.login-input:focus {
    background-color: #dad4d4;
    box-shadow      : 0px 9px 30px 0px #c8b6ee;
}

.btn-login span {
    width           : 100%;
    padding         : 0.6em 2em;
    border          : none;
    outline         : none;
    color           : #fff;
    font-size       : larger;
    background-color: #59a459;
    border-radius   : 1em;
    cursor          : pointer;
}

.btn-login-signUp span {
    width           : 100%;
    padding         : 0.6em 2em;
    border          : none;
    outline         : none;
    color           : #fff;
    font-size       : larger;
    background-color: #59a459;
    border-radius   : 1em;
    cursor          : pointer;
}

.btn-login span:hover,
.btn-login-signUp span:hover {
    background-color: #6dcd6d;
}

.login-content-right-text {
    color          : #fff;
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    gap            : 1em;
}

.text-welcome {
    font-size  : 1.8em;
    font-weight: 600;
}

.text-welcome-signUp {
    font-size  : 1.5em;
    font-weight: 600;
}

.text-dontHaveAccount {
    font-size: 1.2em;
}

.text-dontHaveAccount-signUp {
    font-size: 1em;
}

.btn-signup {
    margin-top: 1em;
}

.btn-signup span {
    width              : 100%;
    padding            : 0.5em 1.5em;
    border             : 1px solid #fff;
    outline            : none;
    color              : #fff;
    font-size          : larger;
    /* background-color: #59a459; */
    border-radius      : 1em;
    cursor             : pointer;
}

.btn-signup span:hover {
    background-color: #fff;
    color           : rgb(101 150 202);
}

input.login-submit-btn {
    width        : 100%;
    padding      : 0.5em 1.5em;
    border       : 1px solid #fff;
    outline      : none;
    color        : #fff;
    font-size    : larger;
    background   : linear-gradient(-45deg, rgb(152 169 178), rgb(101 150 202), rgb(142 138 232), transparent);
    border-radius: 1em;
    cursor       : pointer;
}

.btn-login .login-submit-btn:hover,
.btn-login-signUp .login-submit-btn:hover {
    color     : #fff;
    box-shadow: 0px 9px 30px 0px #c8b6ee;
    opacity   : 0.8;
}

.btn-login-signUp {
    width: 80%;
}