*,
body,
html {
    margin : 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.signup-container {
    height          : 100%;
    background-color: #FFF7F7;
}

.login-container {
    height          : 100%;
    background-color: #FFF7F7;
}

.signup-title {
    font-size  : 25px;
    font-weight: 600;
    margin     : 10px 0;
    color      : #381DDB;
    font-family: Arial, Helvetica, sans-serif;
}

.signup-title-red {
    color: #FC5252;

}

.box {
    padding         : 15px 25px;
    position        : relative;
    top             : 5em;
    margin          : 0 auto;
    background-color: #fff;
    display         : flex;
    width           : 29%;
    align-items     : start;
    justify-content : center;
    box-shadow      : 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
        25px 0px 20px -20px rgba(0, 0, 0, 0.45),
        0px 25px 20px -20px rgba(0, 0, 0, 0.45),
        -25px 0px 20px -20px rgba(0, 0, 0, 0.45);
}

.box-login {
    top: 7em !important;

}

input[type='text'],
input[type='password'],
input[type='email'] {
    padding      : 10px 14px;
    border-radius: 4px;
    border       : 1px solid #333;
    outline      : none;
}

.signUp {
    padding         : 10px 14px;
    border-radius   : 4px;
    border          : none;
    background-color: #381DDB;
    color           : #fff;
    cursor          : pointer;
}

.signUp a {
    color          : #fff;
    text-decoration: none;
}

.logIn {
    background-color: #FC5252;
    padding         : 10px 14px;
    border-radius   : 4px;
    border          : none;
    color           : #fff;
    cursor          : pointer;
}

.logIn a {
    color          : #fff;
    text-decoration: none;
}

.invalid-value {
    padding    : 2em;
    font-family: system-ui;
    background : #d9cfcf;
    color      : #000;
}