.user-info-container {
    display       : flex;
    flex-direction: column;
    margin        : 0 8em;
}

.user-intro {
    margin         : 30px 0 15px 0;
    display        : flex;
    flex-direction : row;
    gap            : 1em;
    border-radius  : 0.5em;
    justify-content: start;
    align-items    : start;
    box-shadow     : 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px 0px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
}

.user-intro-img {
    height         : 120px;
    border         : 1px solid green;
    width          : 120px;
    margin         : 10px 15px;
    /* margin-left : 4em; */
    display        : flex;
    align-items    : center;
    border-radius  : 8px;
    justify-content: center;
}

.user-intro-edit-img {
    display         : flex;
    background-image: linear-gradient(to right, #FC5252, #381DDB);
    padding         : 8px 10px;
    cursor          : pointer;
    margin          : 0 0 10px 8px;
    border-radius   : 8px;
}

.user-intro-edit-img:hover {
    opacity: 0.8;
}

.user-intro-detail {
    display          : flex;
    /* gap           : 10px; */
    flex-direction   : column;
    margin-top       : 1.6em;
}

.user-intro-detail-name {
    font-size  : 28px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.user-intro-detail-extra {
    font-size: 18px;
    color    : #888;
}

.user-details {
    display: flex;
    margin : 0 5em;
}

.user-details-left {
    width       : 20%;
    border-right: 1px solid #000;
}

.userSecure {
    margin-top     : 15px;
    padding        : 10px 15px;
    display        : flex;
    justify-content: center;
    gap            : 0.5em;
    align-items    : center;
}

.userSecure i {
    font-size: 22px;
}

.userSecure a {
    color: #000;
}

.userSecure:hover {
    border-right: 2px solid #381DDB;
}

.userSecure:hover a,
.userSecure:hover i {
    color: #381DDB;

}

.user-details-right {
    width                  : 80%;
    display                : flex;
    flex-direction         : row;
    flex-wrap              : wrap;
    /* justify-content     : center; */
    /* height              : 1000px; */
    align-items            : center;
    /* gap                 : 20px; */
}

.user-details-right-body {
    display       : flex;
    flex-direction: row;
    width         : 100%;
    flex-wrap     : wrap;
    margin        : 0 2em;
}

.user-details-right-child {
    border-radius : 8px;
    margin        : 10px;
    display       : flex;
    align-items   : center;
    flex-direction: column;
    box-shadow    : 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px 0px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
    overflow      : hidden;
    max-height    : 300px;
}

.user-details-right-child:hover {
    overflow-y: auto;
}

.user-details-right-child h3 {
    padding      : 10px;
    border-bottom: 2px solid #FC5252;

}

.user-details-posts {}

.user-details-answers {}

.user-details-modules {}

.user-details-existed-content {
    max-width     : 250px;
    min-width     : 180px;
    gap           : 0.4em;
    display       : flex;
    flex-direction: column;
    /* margin     : 10px 15px; */
    /* margin     : 0 0 20px 0; */
}

.each-user-details-existed-content {
    /* margin: 0.1em 0.5em; */
    padding  : 10px 16px;
    cursor   : pointer;
    /* border: 1px solid brown; */
}

.each-user-details-existed-content a {
    color: #000;
}

.each-user-details-existed-content a span {
    overflow          : hidden;
    width             : 100%;
    display           : -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.each-user-details-existed-content:hover {
    /* opacity: 0.8; */
    background-color: #fc525287;
}

.each-user-details-existed-content:hover a {
    color: #0f589c
}

.published_at {
    font-size: 13px;
    color    : #a79999;
}

.changeImage {
    color: #fff;

}

* {
    background-size: cover;
}

.your-avt {
    display        : flex;
    justify-content: center;
    align-self     : center;
}

#chatArea {
    position: fixed;
    bottom  : 1em;
    right   : 3em;
    width   : 400px;
    display : flex;
    height  : 400px;
    margin  : 10px auto;
}

.chatBtn {
    margin-top: 0.6em;
}

.btnChat {
    padding         : 10px 14px;
    cursor          : pointer;
    background-color: #381DDB;
    border-radius   : 4px;
    color           : #fff;
}

.btnChat a {
    color: #fff;

}

.btnChat:hover {
    opacity: 0.7;
}