* {
    margin : 0;
    padding: 0;
}

.container {
    display               : flex;
    /* border             : 1px solid red; */
    flex-direction        : column;
    margin                : 0 50px;
    /* background-color   : red; */
}



.body {
    display       : flex;
    flex-direction: row;
    width         : 100%;
    /* margin     : 0 50px; */

}

.category {
    display            : flex;
    border             : 1px solid red;
    width              : 20%;
    /* background-color: aqua; */
    display            : flex;
    flex-direction     : column;
}

.category-item {
    border : blue 1px solid;
    padding: 10px;
    cursor : pointer;

}

.category-item:hover {
    opacity: 0.8;
}

.category-item.active {
    text-decoration: underline;
    color          : red;
}


.content {
    display       : flex;
    border        : 1px solid red;
    flex-direction: column;
    ;
    height: 100%;
    width : 80%;
}

.question {
    display       : flex;
    flex-direction: column;
    border        : 1px solid red;
    width         : 100%;
    /* padding    : 10px; */
}

.question-title {
    display       : flex;
    border        : 1px solid red;
    margin        : 0 10px;
    flex-direction: column;
    font-family   : Arial, Helvetica, sans-serif;
}

.question-title-content-up {
    font-size  : 20px;
    font-weight: 600;
}

.question-title-content-down {
    font-size  : 15px;
    font-weight: 500;
}

.question-title-content-down-name {
    font-weight: 400;
    font-size  : 14px;
}

.question-title-content {
    margin: 10px;
}

.question-title-extra {
    display        : flex;
    justify-content: space-between;
    /* width       : 100%; */
    font-size      : 12px !important;
    font-weight    : 500;
    gap            : 15px;
    margin         : 10px 0;
}

.question-title-extra-child {
    display    : flex;
    align-items: center;
}

.asked {
    margin: 0 10px;
    border: 1px solid green;
}

.module {
    /* margin: 10px; */
    border: 1px solid green;
}

.viewed {
    margin: 10px;
    border: 1px solid green;
}

.question-content {
    display  : flex;
    border   : 1px solid red;
    /* height: 500px; */
    margin   : 10px 10px;
    font-size: 18px;
    padding  : 15px
}

.existed-answer {
    display       : flex;
    border        : 1px solid red;
    margin        : 10px 40px;
    font-size     : 16px;
    gap           : 20px;
    flex-direction: column;
}

.each-existed-answer {
    min-height      : 40px;
    display         : flex;
    align-items     : center;
    flex-wrap       : wrap;
    /* border       : 1px solid green; */
    border-bottom   : 1px solid #ccc;
    border-top      : 1px solid #ccc;
    padding         : 10px 14px;
    font-family     : Arial, Helvetica, sans-serif;
}

.answerAuthorName {
    font-size  : 15px;
    font-weight: 600;
    cursor     : pointer;
}

.existedAnswer {
    font-size: 15px;
    color    : #222;
}

.answerAuthorEmail {
    font-size: 13px;
    color    : #222;
}

.answerAuthorPublished {
    font-size: 13px;
    color    : #a7adb4;
}


.your-answer {
    display       : flex;
    flex-direction: column;
    border        : 1px solid red;
    margin        : 10px 20px;
    font-size     : 16px;
    padding       : 20px;
}

.your-answer h4 {
    margin     : 15px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.submit-answer {
    display        : flex;
    margin         : 15px 0;
    justify-content: end;
}


.btn-submit {
    padding: 10px 14px;
}