.background {
    background: linear-gradient(-45deg, rgb(152 169 178),
            rgb(101 150 202), rgb(142 138 232), transparent);

}

.container {
    width    : 100%;
    max-width: 800px;
    margin   : 0 auto;

    padding: 20px;
}

.body {
    background-color: #f2f2f2;
    padding         : 20px;
    border-radius   : 10px;
}

.content {
    margin-top: 20px;
}

.each-post {
    background-color: #fff;
    padding         : 15px;
    border-radius   : 8px;
    margin-bottom   : 5rem;
    display         : flex;
    flex-direction  : column;
    box-shadow      : 0 2px 4px rgba(0, 0, 0, 0.1);
    transition      : box-shadow 0.3s ease-in-out;
    padding-bottom  : 3rem;
}

.question:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question h3 {
    font-size    : 24px;
    margin-bottom: 10px;
}

.question p {
    margin-bottom: 10px;
}

.post-content {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.post-content-trivia {
    display        : flex;
    gap            : 10px;
    margin-right   : 2rem;
    flex           : 1;
    justify-content: end;
    align-items    : center;
}

.post-content .info {
    margin-right: 20px;
}

.image-author-post {
    width        : 50px;
    height       : 50px;
    border-radius: 50%;
    object-fit   : cover;
}

.image-post {
    width        : 100%;
    height       : 300px;
    /* You can adjust the height as needed */
    object-fit   : contain;
    border-radius: 8px;
    margin-top   : 10px;
}

.answer {
    margin-top: 20px;

}

.answer textarea {
    width        : calc(100% - 20px);
    /* Adjust width as needed */
    padding      : 10px;
    border       : 1px solid #ccc;
    border-radius: 5px;
    resize       : vertical;
    /* Allow resizing only in the vertical direction */
    min-height   : 100px;
    /* Set minimum height */
    max-height   : 200px;
    /* Set maximum height */
}

.answer button {
    padding         : 10px 20px;
    background-color: #381DDB;
    color           : #fff;
    border          : none;
    border-radius   : 5px;
    cursor          : pointer;
    margin-top      : 10px;
}

.answer button:hover {
    background-color: #4c2eeb;
}

/* Optional: Adjust the input and button styles as needed */